<div class="flex justify-center items-center mt-4">
    <div class="max-w-lg rounded overflow-hidden shadow-lg">
        <img class="w-full"
            src="https://a0.muscache.com/im/pictures/miso/Hosting-9172942/original/9b7654fc-dd49-4cd0-9d8e-ffb04aef35bb.jpeg?im_w=720"
            alt="Mountain">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Recomendación del viajero</div>
            <p class="text-gray-700 text-base">Descripción de la recomendación del viajero...</p>
        </div>
        <div class="px-6 py-4">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#viaje</span>
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#aventura</span>
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#diversión</span>
        </div>
    </div>
</div>